# This is the .editorconfig.
# If your text editor supports .editorconfigs, then
# you're good.
# If your text editor DOESN'T support .editorconfigs,
# read doc/STYLE.md for the style guides.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false

[*.{c,h,asm,perl,sh}]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4