# This is the .editorconfig.
# If your text editor supports .editorconfigs, then
# you're good.
# If your text editor DOESN'T support .editorconfigs,
# read doc/STYLE.md for the style guides.

root = true

[*]
charset = utf-8

end_of_line = lf
insert_final_newline = false

indent_size = 4
indent_style = space

[*.yml]
indent_size = 2

[{Makefile}]
indent_style = tab