# Object/Binary files
*.o
*.obj
*.elf
*.bin
*.iso

# Archives 
*.tar
*.zip

# SWP/TMP files
*.swp
*~
*#

# Debug files
debug.h
debug.asm

# Compilation results
dist/
mk/

# Profiles
config/profiles/*
!config/profiles/default