# Object/Binary files
*.o
*.obj
*.elf
*.bin

# Archives 
*.tar
*.zip

# SWP/TMP files
*.swp
*~
*\#

# Debug files
debug.h

# Compilation results
dist/
mk/

# Profiles
config/profiles/*
!config/profiles/default