*.[ch]    linguist-language=C        diff=C
*.sh      linguist-language=bash     diff=bash
configure linguist-language=bash     diff=bash
*.asm     linguist-language=assembly diff=assembly
*.py      linguist-language=Python   diff=Python
*.mk      linguist-language=Makefile diff=Makefile