# Overall settings
* text=auto

# Binary registry
*.aif  binary
*.aifc binary
*.aiff binary
*.au   binary
*.bmp  binary
*.exe  binary
*.icns binary
*.gif  binary
*.ico  binary
*.jpg  binary
*.pck  binary
*.png  binary
*.psd  binary
*.tar  binary
*.wav  binary
*.whl  binary
*.zip  binary

# Assign correct diff
*.c        diff=cpp
*.h        diff=cpp
*.asm      diff=asm
*.ld       diff=ld
*.cfg      diff=cfg
Makefile   diff=make
Dockerfile diff=docker
